html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f0f2f5;
  font-family: Helvetica, Arial, sans-serif;
}
.main {
  padding: 81px 162px;
}
.facebook-logo {
  left: -12px;
  position: relative;
}
.facebook-logo img {
  width: 185px;
  margin-left: -7px;
}
.head-ing {
  font-size: 26px;
}
.heading-two {
  font-size: 14px;
  padding-bottom: 15px;
}

.img-card:hover {
  box-shadow: 0 1px 8px 5px #dddfe2;
  transition: 0.5s;
}
.recent-account {
  width: 22rem;
  display: flex;
  font-size: smaller;

  gap: 20px;
}
.card-body {
  padding: 5px;
}

div .sd img {
  width: 169px;
  height: -webkit-fill-available;
  /* background-color: #f0f2f5; */
  z-index: -1;
}
.img-holder {
  border: 1px solid #cacccf;
  align-items: center;
  background-color: #f5f6f7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  height: 145px;
  justify-content: center;
  width: 145px;
  border-bottom: none;
}
.pluslogo {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/4rnXbyIZ7vG.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 43px;
  width: 43px;
}
.name-holder {
  border-top: none !important;
  border: 1px solid rgb(201, 198, 198);
  border-radius: 0px 0px 4px 4px;
  font-size: 1.1rem;
  color: blue;
  padding-bottom: 6px;
  padding-top: 6px;
}
.img-card-profile {
  width: 100%;
}
.sd {
  margin-left: 10px;
}
.form {
  margin-top: 20px;
  width: 29rem;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 5px;
}
.user-input {
  width: 100%;
  padding: 6px;
  font-size: 17px;
}

.userpassword {
  width: 100%;
  padding: 6 px;
  font-size: 17px;
}
.forgot-password {
  text-align: center;
  text-decoration: none;
}
.forgot-password a {
  font-size: 14px;
  text-decoration: none;
}
.forgot-password a:hover {
  text-decoration: underline;
}
.login-btn {
  width: 100%;
  padding: 6px;
}
.new-act-btn {
  padding: 7px;
  border: white;
  margin-left: 90px;
  width: 53%;
  background-color: rgb(2, 180, 2);
}
.create-page {
  margin-top: 18px;
  font-size: 14px;
  margin-left: 54px;
}
.create-page a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.create-page a:hover {
  text-decoration: underline;
}
